:root {
  --primary-text-color: #212121;
  --more-text-color: #757575;
  --accent-color: #2196f3;
  --hero-btn-hover: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --filter-team-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --header-border: #ececec;
  --portfolio-item-border: #eeeeee;
  --soc-icons-color: #afb1b8;
  --hero-linear-gradient: linear-gradient(rgba(47, 48, 58, 0.4),
                                          rgba(47, 48, 58, 0.4));
  --white-color30: rgba(255, 255, 255, 0.3);
  --white-color10: rgba(255, 255, 255, 0.1);
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --kubik: cubic-bezier(0.4, 0, 0.2, 1);
  --time-reseat: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form-send, .form__send, .hero__btn {
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-reseat) var(--kubik);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section--other-background {
  background-color: var(--filter-team-bg-color);
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo-black {
  color: var(--black-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    text-align: center;
  }
}

.navigation {
  display: block;
  margin-bottom: 306px;
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--time-reseat) var(--kubik);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link--current-page {
  color: var(--accent-color);
}

.contacts {
  margin-bottom: 64px;
}

.contacts__icon {
  display: none;
}

.hero {
  display: block;
  max-width: 100%;
  background: var(--bg-color);
  padding: 118px 60px 118px 60px;
  text-align: center;
  height: 400px;
  background-image: var(--hero-linear-gradient), url(../../images/mobile/hero-img-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-linear-gradient), url(../../images/hero-img@2x.jpg);
  }
}

.hero__title {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-btn-hover);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__icon-div {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--filter-team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--more-text-color);
}

.works {
  display: inline-flex;
  gap: 30px;
}
.works__item {
  position: relative;
}
.works__thumb {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.works__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .section.section--no-padding-top {
    display: none;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.team__item {
  background: var(--primary-white-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__tank {
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .team__tank {
    padding: 30px 0;
  }
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team .team__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--more-text-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color var(--time-reseat) var(--kubik);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__icon {
  fill: var(--soc-icons-color);
  transition: fill var(--time-reseat) var(--kubik);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--primary-white-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--soc-icons-color);
  border-radius: 4px;
  transition: border var(--time-reseat) var(--kubik);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__icon {
  fill: var(--soc-icons-color);
  transition: fill var(--time-reseat) var(--kubik);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background: var(--bg-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer .container {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    row-gap: 60px;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
}
.footer .socials__icon {
  fill: var(--primary-white-color);
}
.footer .socials__link {
  background-color: var(--white-color10);
}
.footer .socials__link:hover, .footer .socials__link:focus {
  background-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .footer__web-address {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__web-address {
    margin-left: 61px;
    flex-grow: 1;
  }
}
@media screen and (max-width: 1199px) {
  .footer__web-address {
    text-align: center;
  }
}
.footer__logo-white {
  color: var(--primary-white-color);
}
@media screen and (max-width: 767px) {
  .footer__socials-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socials-container {
    margin-right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials-container {
    margin-right: 92px;
    margin-left: 91px;
  }
}
@media screen and (max-width: 767px) {
  .footer__form-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form-container {
    flex-grow: 1;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address {
  margin-top: 20px;
}
.address__link-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-white-color);
}
.address__link-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-white-color);
  transition: color var(--time-reseat) var(--kubik);
}
.address__link-contacts:hover, .address__link-contacts:focus {
  color: var(--accent-color);
}

.form {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 300px;
         column-gap: 300px;
    justify-content: center;
    align-items: center;
  }
}
.form__input {
  box-sizing: border-box;
  padding-left: 15px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: var(--secondary-white-color);
  border: 1px solid var(--white-color30);
  background-color: var(--bg-color);
  border-radius: 4px;
  outline: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.form__send {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  fill: var(--primary-white-color);
}
.form__send:hover, .form__send:focus {
  background-color: var(--hero-btn-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-reseat) var(--kubik), visibility 25var --time-reseat 0ms var(--kubik);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  transition: transform var(--time-reseat) var(--kubik);
}

.modal__close {
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  fill: var(--black-color);
  cursor: pointer;
  transition: fill var(--time-reseat) var(--kubik);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.contact-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--more-text-color);
}

.contact-form__control {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  height: 40px;
  width: 100%;
  padding: 11px 12px 11px 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--time-reseat) var(--kubik);
}
.contact-form__input:focus, .contact-form__input:focus + .contact-form__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
  transition: fill var(--time-reseat) var(--kubik);
}

.contact-form__textarea {
  display: block;
  width: 100%;
  height: 138px;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  cursor: pointer;
  transition: border-color var(--time-reseat) var(--kubik);
}
.contact-form__textarea:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-form__field {
  margin-bottom: 20px;
}

.form-field textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
}

.checkbox__input:checked + .checkbox__box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  transition: background-color var(--time-reseat) var(--kubik), border-color var(--time-reseat) var(--kubik);
}

.checkbox__icon {
  background-size: contain;
  fill: var(--primary-white-color);
}

.checkbox {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--more-text-color);
}

.checkbox__terms {
  color: var(--accent-color);
  /* text-decoration: none; */
  /* border-bottom: 1px solid; */
}

.form-send {
  display: block;
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 30px auto 0;
}
.form-send:hover, .form-send:focus {
  background-color: var(--hero-btn-hover);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filters__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: var(--filter-team-bg-color);
  cursor: pointer;
  background-color: var(--filter-team-bg-color);
  color: var(--primary-text-color);
  transition: color var(--time-reseat) var(--kubik), background-color var(--time-reseat) var(--kubik), box-shadow var(--time-reseat) var(--kubik);
}
.filters__btn:hover, .filters__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__btn--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: var(--primary-white-color);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--time-reseat) var(--kubik);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:nth-child(3n) {
  margin-right: 0px;
}

.card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.card__content-box {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-item-border);
  border-top: none;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--more-text-color);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform var(--time-reseat) var(--kubik);
  background-color: var(--overlay-bg-color);
}
.card__link:hover .card__description, .card__link:focus .card__description {
  transform: translateY(-100%);
}

.card__description-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu-mobile {
  display: block;
}

.socials-written {
  margin-bottom: 48px;
  display: flex;
  gap: 20px;
}
.socials-written__item {
  display: block;
}
.socials-written__link {
  display: block;
}
.socials-written__text {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu {
  padding-left: 25px;
}/*# sourceMappingURL=main.css.map */