.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address {
  margin-top: 20px;
  
  &__link-map {
    @include fontset($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
    font-style: normal;
    color: var(--primary-white-color);
  }

  &__link-contacts {
    @include fontset($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
    font-style: normal;
    color: var(--secondary-white-color);
    transition: color var(--time-reseat) var(--kubik);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
