.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
  
    transition: opacity var(--time-reseat) var(--kubik),
      visibility 25var (--time-reseat) 0ms var(--kubik);
  }
  
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }