.checkbox__box {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
}

.checkbox__input:checked + .checkbox__box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  transition: background-color var(--time-reseat) var(--kubik),
    border-color var(--time-reseat) var(--kubik);
}

.checkbox__icon {
  background-size: contain;
  fill: var(--primary-white-color);
}

.checkbox {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  text-align: left;
  @include fontset($fw: 400, $fs: 12px, $lh: 1.17, $ls: 0.03em);
  color: var(--more-text-color);

  @media screen and (min-width: 1200px) {
    @include fontset($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
  }
}

.checkbox__terms {
  color: var(--accent-color);
  // text-decoration: none;
  // border-bottom: 1px solid;
}
