.contacts {
  display: block;
  margin-left: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  
    @include fontset($fw: 500, $fs: 14px, $lh: 1.14, $ls: 0.02em);
    color: var(--more-text-color);
    transition: color var(--time-reseat) var(--kubik);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  &__icon {
    fill: currentColor;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

