.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--more-text-color);
  transition: color var(--time-reseat) var(--kubik);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
}
