.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 767px) {
  &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__icon-div {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--filter-team-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    @include fontset($fw: 700, $fs: 14px, $lh: 1.14, $ls: 0.03em);
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    @include fontset($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em);
    color: var(--more-text-color);
  }
}
