.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  max-width: 327px;
  column-gap: 8px;
  row-gap: 15px;
  @media screen and (min-width: 768px) {
    max-width: 576px;
    justify-content: center;
    margin: 0 auto 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}


.filters__btn {
  @include fontset($fw: 500, $fs: 16px, $lh: 1.62, $ls: 0.03em);
  font-family: inherit;
  text-align: center;
  padding: 6px 22px;

  border-radius: 4px;
  border: var(--filter-team-bg-color);
  cursor: pointer;
  background-color: var(--filter-team-bg-color);
  color: var(--primary-text-color);
  transition: color var(--time-reseat) var(--kubik),
    background-color var(--time-reseat) var(--kubik), box-shadow var(--time-reseat) var(--kubik);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filters__btn--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 6px 25px;
}
