.form {
    display: flex;
    gap: 12px;
  }
  
  .form__input {
    box-sizing: border-box;
    padding-left: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid var(--white-color30);
    background-color: var(--bg-color);
    border-radius: 4px;
    outline: none;
  }
  
  .form__send {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    @extend %btn;
    fill: var(--primary-white-color);
    &:hover,
    &:focus {
      background-color: var(--hero-btn-hover);
    } 
}