.form-send {
    display: block;
    width: 200px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  
    @extend %btn;
    margin: 30px auto 0;
    &:hover,
    &:focus {
      background-color: var(--hero-btn-hover);
    }
  }
  