.form-send {
    display: block;
    width: 200px;
  
    font-family: inherit;
    @include fontset($fw: 700, $fs: 16px, $lh: 1.88, $ls: 0.06em);
  
    @extend %btn;
    margin: 30px auto 0;
    &:hover,
    &:focus {
      background-color: var(--hero-btn-hover);
    }
  }
  