.header {
  border-bottom: 1px solid var(--header-border);
  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  padding: 24px 0;
  margin-right: 93px;
}

.header__logo-black {
  color: var(--black-color);
}
