.logo {
  font-family: 'Raleway', sans-serif;
  @include fontset($fw: 700, $fs: 24px, $lh: 1.17, $ls: 0.03em);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    @include fontset($fw: 700, $fs: 26px, $lh: 1.19, $ls: 0.03em);
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
