.menu-button {
    display: inline-flex;
    border: none;
    background-color: transparent;
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu-mobile {
    display: block;
}