.mobile-menu {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 48px 0 48px 25px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--primary-white-color);
    transform: translateX(100%);
    transition: transform var(--time-reseat) var(--kubik), opacity var(--time-reseat) var(--kubik),
      visibility var(--time-reseat) var(--kubik);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      transform: translateX(0);
    }

    &__close {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 15px;
      border: none;
      background-color: inherit;
      fill: var(--primary-text-color);
      cursor: pointer;
      transition: fill var(--time-reseat) var(--kubik);
      &:hover {
        fill: var(--accent-color);
      }
    }

    &__navigation-link {
      @include fontset($fw: 500, $fs: 40px, $lh: 1.175, $ls: 0.02em);
      color: var(--primary-text-color);
      transition: color var(--time-reseat) var(--kubik);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__navigation-item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__navigation-link--current-page {
      color: var(--accent-color);
    }

    &__tell {
      @include fontset($fw: 500, $fs: 34px, $lh: 1.17, $ls: 0.02em);
      color: var(--accent-color);
    }

    &__email {
      @include fontset($fw: 500, $fs: 24px, $lh: 1.17, $ls: 0.02em);
      color: var(--more-text-color);
      display: block;
      padding: 32px 0 64px 0;
    }

    &__socials {
      display: flex;
    }

    &__socials-item {
      padding: 0 10px;
      &:first-child {
          padding-left: 0;
      }
      &:last-child {
          padding-right: 0;
      }
      &:not(:last-child) {
          border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }

    &__socials-text {
      color: var(--accent-color);
      @include fontset($fw: 500, $fs: 18px, $lh: 1.22, $ls: 0.02em);
    }
  }
}
