.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  margin: 0 auto;
    padding: 40px;
    width: calc(100% - 30px);
    max-width: 450px;
    border-radius: 4px;
    background-color: var(--primary-white-color);
    transition: transform var(--time-reseat) var(--kubik);

    
  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
  }
  
  .modal__close {
    position: absolute;
    padding: 5px;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    fill: var(--black-color);
    cursor: pointer;
    transition: fill var(--time-reseat) var(--kubik);
    &:hover, &:focus {
      fill: var(--accent-color);
    }
  }
  
  .modal__title {
    margin-bottom: 12px;
    text-align: center;
    @include fontset($fw: 700, $fs: 20px, $lh: 1.5, $ls: 0.03em);
    color: var(--primary-text-color);
    
  @media screen and (min-width: 1200px) {
    @include fontset($fw: 700, $fs: 20px, $lh: 1.15, $ls: 0.03em);
  }
  }