.navigation {
  display: block;
  margin-bottom: 306px;
  // align-items: center;
}

// .navigation__item {
//   position: relative;
// }

// .navigation__link--current-page {
//   color: var(--accent-color);
//   &::after {
//     content: '';
//     position: absolute;
//     display: block;
//     left: 0;
//     bottom: calc(0% - 1px);

//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//   }
// }

.navigation__link {
  display: block;
  
  @include fontset($fw: 500, $fs: 40px, $lh: 1.175, $ls: 0.02em);

  color: var(--primary-text-color);
  transition: color var(--time-reseat) var(--kubik);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__item{
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
  .navigation__link--current-page {
    color: var(--accent-color);
  }