.section {
  padding: 94px 0;
  &--other-background {
    background-color: var(--filter-team-bg-color);
  }
  &--no-padding-top {
    padding-top: 0;
  }
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
