.footer {
  background: var(--bg-color);
  padding: 60px 0;
  .container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  }
  .socials__icon {
    fill: var(--primary-white-color);
  }
  .socials__link {
    background-color: var(--white-color10);
    &:hover, &:focus {
        background-color: var(--accent-color); 
      }
  }
}

.footer__web-address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo-white {
  color: var(--primary-white-color);
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__form-container {
  margin-left: 93px;
}